<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div>
  <div i18n>
    {coursesTotal, plural, =0 {No courses available.} =1 {One courses is available.} other
    {A total of {{ coursesTotal }} are available}}
  </div>
  <div class="demo">
    <button (click)="onEditCourse()" i18n>Edit Course</button>

    <!-- <input type="text" [value]="category" (input)="changeCategoryFilter($event)"/> -->
    <div style="display: flex; flex-direction: column; gap: 3px; margin: 10; padding: 0">
      <label style="font-size: 20px; color: blue">Course Category</label>
      <select
        [(ngModel)]="category"
        class="form-control"
        (ngModelChange)="changeCategoryFilter($event)"
        ng-model="nrSelect"
      >
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="courses">
    <course-card
      *ngFor="let course of courses | filterByCategory: category?.name"
      (courseChanged)="save($event)"
      type="beginner"
      [course]="course"
    >
      <course-image [src]="course.iconUrl!"></course-image>
    </course-card>
  </div>
</div>
